
.myBtn{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    color: #fff;
    background-color: rgb(33, 135, 194);
    padding: 15px 30px;
    font-size:20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}